@media screen and (max-width: 1010px) {
  .perfac {
    width: inherit !important;
    height: inherit !important;
    float: none !important;
    text-align: center !important;
  }

  .brochicon {
    width: inherit !important;
    float: inherit !important;
    margin: 0 0 2em 0 !important;
  }

  #customarea {
    width: inherit !important;
  }

  h3 {
    width: inherit !important;
    height: inherit !important;
  }

  .lineheader {
    width: inherit !important;
    margin: 0 !important;
  }

  .brochureA {
    float: none !important;
    width: 45% !important;
  }

  .brochureA br {
    display: none;
  }

  .brochureB {
    display: inherit;
    text-indent: 1em;
  }

  .brochureB br {
    display: none;
  }

  #pickfourcontainer {
    max-width: 750px !important;
  }

  .requestcontainer {
    max-width: 750px !important;
  }
  .expandonerror {
  max-width: 750px !important;
  }
  #content {
  max-width: 750px !important;
  width: 96%;
  }

  .content {
    max-width: 750px !important;
  }

  .full-length {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  #pickfourcontainer {
    width: inherit !important;
  }

  .requestcontainer {
    width: 100% !important;
  }

  .expandonerror {
    width: inherit !important;
  }

  .enterdata {
    width: 100% !important;
  }

  .cattitle {
    margin: 0 0 1em 0 !important;
  }

  .submit_button {
    display: block !important;
    float: none !important;
    text-align: center !important;
  }

  .content {
  max-width:400px !important;
  }

  #edit-address1{
    width: 85% !important;
    max-width: 100% !important;
  }
}

.brochure_link {
    color: black !important;
}

.submit_button {
    float: left;
}

.indent {
  padding-left:40px;
}

select {
    width:300px;

    -ms-box-sizing-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

table tr{
	padding-top:1px;
	padding-bottom: 1px;
}

table td{
	width:1000px;
	border:hidden;
}

.uw_request_brochure_container {
	float:left;
	min-height:100px;
	width: 650px;
}

.brochureInfo {
	float:left;
	width:400px;
}

.brochurePhoto {
	float: left;
	width:200px;
}
p.clear
{
	clear:both;
}
/* Extras */
.perfac {
	width:750px;
	height:220px;
	float:left;
	margin-bottom:15px;
}
.brochicon {
	width:120px;
	min-height:190px;
	float:left;
	margin-right:30px;
	text-align:center;
	color: black !important;
}
.brochicon a:link, .brochicon a:visited {
	text-decoration:underline;
	color:#96172E;
}
.icontitle {
	width:475px;
	margin-left:15px;
	line-height:20px;
	float:left;
	height:30px;
}
h3 {
	width:750px;
	height:18px;
	line-height:18px;
	margin-top:30px;
	font-size: 1.2em;
}
.pageexplain {
	width:700px;
	height:60px;
}
.requestcontainer {
	width:745px;
	padding-bottom:20px;
}
#pickfourcontainer {
	width:650px;
	margin-top:5px;
	min-height:140px;
}
.enterdata {
	width:350px;
	float:left;
	min-height:58px;
	margin-top:-10px;
}
.expandonerror {
	width:750px;
	float:left;
	min-height:53px;
}
.cattitle {
	width:750px;
	height:20px;
	line-height:20px;
	font-weight:bold;
}

#mail_address {
    font-weight:bold;
    float: left;
}

select {
    border: 1px solid #838383;
    border-style: outset;
    color: #3F3F3F;
    max-width: 268px !important;
    overflow: hidden;
}
.lineheader {
	width:750px;
	margin-bottom: .8em;
	padding-bottom: 1px;
	width:750px;
	font-weight:bold;
	margin-top: 7em;
}
form-text required {
	height:auto;
}
#expanded {
	width:750px;
	min-height:2265px;
	display:none;
	margin-bottom:30px;
}
.brochureA {
	width:385px;
	float:left;
	line-height:20px;
	min-height:20px;
	padding-left:5px;
	padding-right:5px;
	border-bottom:1px solid #CCC;
	color: #96172E;
}
.brochureB {
	width:344px;
	float:left;
	color:#666;
	line-height:20px;
	min-height:20px;
	padding-left:5px;
	padding-right:5px;
	border-bottom:1px solid #CCC;
}
.brochureB a:link, .brochureB a:visited {
	color:#666;
	text-decoration:none;
}
.brochureB a:hover {
	text-decoration:underline;
}
#customarea {
	width:750px;
	min-height:1300px;
}
table td {
	width:120px;
	margin-right:30px;
	height:auto;
	text-align:center;
	color:#039;
}
.form-select{
  max-width: 96% !important;
  width: 96% !important;
}
.chksubmit {
	float: left;
	max-width: 705px;
  display: flex;
}
.chksubmittext {
	 float:left;
	 padding-top:13px;
	 padding-bottom: 20px;
}
.checkbox {
  width: 25px;
  margin-top: 36px;
}
.submit {
    float:left;
}
#edit-address1{
  width: 197%;
  max-width: 197% !important;
}
#pickfourcontainer {
  max-width: 750px !important;
}

.requestcontainer {
  max-width: 750px !important;
}
.expandonerror {
max-width: 750px !important;
}
#content {
max-width: 750px !important;
width: 96%;
}

.content {
  max-width: 750px !important;
}

.full-length {
  width: 100% !important;
}
.form-type-radio {
  display: inline-block !important;
  width: 46% !important;
}
.required-title {
  color: #e00;
  font-size: 1.125rem;
}
